<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><form action="#" th:action="@{/nameform}" th:object="${employee}" method="post">
    First name: <input type= "text" th:field="*{fName}" /><br />
    Last name:  <input type= "text" th:field="*{lName}" /><br />
    Social Security No:        <input type= "number" th:field="*{SSN}" /><br />
    Date of Birth:  <input type= "number" th:field="*{DOB}" /><br />
    <input type="submit" value="Submit" />
</form></body>
</html>